@using SilvaDawn.SilvaModel.UML.Extensions;
@using SilvaDawn.SilvaModel.UML.Interfaces.Classes;
@using SilvaDawn.SilvaModel.UML.Classes;


<h1>@Model.Classifier.Name</h1> 
  
<p>@Model.Classifier.Description</p> 
  
<p> 
 <b>Namespace:</b> @Model.Model.Name 
  
</p> 
  
<h2>Inheritance Hierarchy</h2> 
  
<h2>Properties</h2> 
  
<table> 
 <thead> 
 <tr><td>Name</td><td>Type</td><td>Description</td></tr> 
 </thead> 
 <tbody> 
@foreach (var att in Model.Classifier.AllAttributes()) 
        {  
        var owner=(INamedElement)att.Owner;
    <tr> 
    <td>@att.Name</td> 
    @if(att.Type!=null){
    	switch(att.Type.GetUmlTypeEnum())
    	{
		case UmlTypeEnum.Interface:
			<td><a href="@(att.Type.Name)">@(att.Type.Name)</a></td> 			
		break;
		case UmlTypeEnum.PrimitiveType:
		<td>@att.Type.AsPrimitiveType()["C#"] </td> 
		break;
		}
	}
    
    <td>@att.Description
    @if (owner!=Model.Classifier)
    {
     @:(Inherited from <a href="@(owner.Name)">@(owner.Name)</a>.)
    }
    </td>
     
    </tr> 
} 
 </tbody> 
  
</table>