@using SilvaDawn.SilvaModel.UML.Extensions;
@using SilvaDawn.SilvaModel.UML.Interfaces.Classes;
@using SilvaDawn.SilvaModel.UML.Classes;
<div class="box-content">

    <div class="well" ng-show="!loaded">

        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <h4>Loading</h4>ge
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <img src="/Images/loader.gif" />
            </div>
        </div>
    </div>

    <div ng-show="loaded">
    	 <form class="form-horizontal css-form" role="form" novalidate>
    	  @foreach (var att in Model.Classifier.Attributes()) {
			if (Model.RazorSupport.DataTypeIsElement(att.DataType))
				{		
	    			if (att.Type.GetUMLType() == UmlTypeEnum.Class)
	    			{
					var refclass=(IClass)att.Type;	
	
					var pKey=GetPrimaryKey(refclass);
					var descriptor=GetDescriptor(refclass);
					
						if (!string.IsNullOrEmpty(pKey) && !string.IsNullOrEmpty(descriptor))
						{
					 <div class="form-group">
	                        <label for="@Model.Classifier.Name.LowerFirst()@att.Name" class="col-sm-2 control-label">Retailer</label>
	                        <div class="col-sm-10">
	
	                            <select id="@Model.Classifier.Name.LowerFirst()@att.Name" class="form-control" ng-model="@{@Model.Classifier.Name.LowerFirst()}.@{@refclass.Name}@pKey" ng-options="@{@refclass.Name.LowerFirst()}.@pKey as @{@refclass.Name.LowerFirst()}.@descriptor for @refclass.Name.LowerFirst() in @{@refclass.Name.LowerFirst()}s" required>
	                                <option value="">-- Choose @refclass.Name --</option>
	                            </select>
	                        </div>
	                    </div>
						}    			
	    			}
    			}
    		else
    			{
    			if (@att.Name!=GetPrimaryKey(Model.Classifier))
    				{
    	
    				<div class="form-group">
                        <label for="@Model.Classifier.Name.LowerFirst()@att.Name" class="col-sm-2 control-label">@att.Name</label>
                        <div class="col-sm-10">
                            <input id="@Model.Classifier.Name.LowerFirst()@att.Name" type="text" class="form-control" ng-model="@(Model.Classifier.Name)View.@att.Name" required/>
                        </div>
                    </div>
       				 }
    	
    	}    	
		
	}
    	 	  	
    	 </form>
    </div>

@functions{
 
 
 
 public static string GetDescriptor(IType iType)
 	{
 		if (iType is IClassifier)
 		{
 		return GetPrimaryKey((IClassifier)iType);
 		}
 		
 		return "";
 	}
 	
 
    public static string GetDescriptor(IClassifier umlClass)
    {
    	foreach (var att in umlClass.Attributes())
		{
			if (att["Entity Framework","Default Descriptor"]=="True")
			{
				return att.Name;
			}
		}    	
    	return "";
    }
 
 
 	public static string GetPrimaryKey(IType iType)
 	{
 		if (iType is IClassifier)
 		{
 		return GetPrimaryKey((IClassifier)iType);
 		}
 		
 		return "";
 	}
 	
 
    public static string GetPrimaryKey(IClassifier umlClass)
    {
    	foreach (var att in umlClass.Attributes())
		{
			if (att["Entity Framework","EF Primary Key"]=="True")
			{
				return att.Name;
			}
		}    	
    	return "";
    }
 
 	public static string GetPrimaryType(IType iType)
 	{
 		if (iType is IClassifier)
 		{
 		return GetPrimaryType((IClassifier)iType);
 		}
 		
 		return "";
 	}
 
    public static string GetPrimaryType(IClassifier umlClass)
    {
    	foreach (var att in umlClass.Attributes())
		{
			if (att["Entity Framework","EF Primary Key"]=="True")
			{
				return  @att.Type.TypeName("C#");
				
			}
		}    	
    	return "";
    }
 
}