@using SilverDawn.SilverModel.UML.Extensions;
@using SilverDawn.SilverModel.UML.Interfaces.Classes;
@using SilverDawn.SilverModel.UML.Classes;
<!-- ALLOWOVERWRITE -->


 <form [formGroup]="@(Model.Classifier.Name.LowerFirst())Form" class="form-horizontal css-form" role="form" (ngSubmit)="update()">
        <mat-tab-group >
        
        	
        	
        	 @{
        	 // complex form layout
        	 //build the sort order for the form
        	 string[] tabs=Model.Classifier["Form Design Metadata","TabOrder"].Split(',');
        	
        	
        	 var altmode=false;
        	 if (tabs.Length==0 ){ tabs=new string[]{""}; }
        	 if (tabs.Length==1 && string.IsNullOrWhiteSpace(tabs[0])) {altmode=true;}
        	
        	 foreach(var tab in tabs)
        	 {
        	 	int maxrow=0;
        	 	int maxcol=0;
        	  	maxrow = Model.Classifier.AllAttributes().Where(w=>w["Form Design Metadata","TabName"]==tab).Max(m => SafeParse(m["Form Design Metadata", "Row"]));
             	maxcol = Model.Classifier.AllAttributes().Where(w => w["Form Design Metadata", "TabName"] == tab).Max(m => SafeParse(m["Form Design Metadata", "Column"]));
        	 if (altmode) {maxrow=Model.Classifier.AllAttributes().Count()-1;}
        	 
        	
        	  
        	 var tabName=!string.IsNullOrWhiteSpace(tab) ? tab : "Main";
        	 <mat-tab label="@(tabName)">        	 
        	 	@for(int i=0; i <= maxrow;i++){
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 		@for( int j=0; j <= maxcol;j++){
        	 			<div fxFlex>	
        	 			@{
        	 			var atts=new List<IProperty>();
        	 			if (altmode)
        	 			{
        	 				atts.Add(Model.Classifier.AllAttributes().ToList()[i]);	
        	 			}
        	 			else
        	 			{
        	 				atts=Model.Classifier.AllAttributes().Where(w=>w["Form Design Metadata","TabName"]==tab && SafeParse(w["Form Design Metadata","Row"])==i && SafeParse(w["Form Design Metadata","Column"])==j ).ToList();
        	 				
        	 			}
        	 			
        	 			foreach (var att in atts)
        	 			{
        	 				
							
			  switch (att.Type.GetUMLType())
				{
				case UmlTypeEnum.Class:				
	    		
					var refclass=(IClass)att.Type;	

					var pKey=GetPrimaryKey(refclass);
					var descriptor=GetDescriptor(refclass);
					
					if (!string.IsNullOrEmpty(pKey) && !string.IsNullOrEmpty(descriptor))
					{
					<text>
					 <div class="form-group">
					 		
                            <label for="@Model.Classifier.Name.LowerFirst()@att.Name" class="col-sm-2 control-label">@(att.Name)</label>
                            <div class="col-sm-10">

                                <select id="@Model.Classifier.Name.LowerFirst()@att.Name" class="form-control" ng-model="@(Model.Classifier.Name.LowerFirst())View.@(att.Name.LowerFirst())@pKey" ng-options="@(refclass.Name.LowerFirst()).@(pKey.LowerFirst()) as @(refclass.Name.LowerFirst()).@(descriptor.LowerFirst()) for @refclass.Name.LowerFirst() in @(refclass.Name.LowerFirst())s" required>
                                    <option value="">-- Choose @refclass.Name --</option>
                                </select>
                            </div>
                       	</div>
                        </text>
					}
					break;
				   default:
				  	if (@att.Name!=GetPrimaryKey(Model.Classifier))
	    				{
	    	            <text>	    				
                         <mat-form-field>                            
                                <input matInput formControlName="@att.Name.LowerFirst()" id="@Model.Classifier.Name.LowerFirst()@att.Name" type="@(att.Type.TypeName("HtmlInput"))" placeholder="@(att.Name)"  required/>
						</mat-form-field>                       
                        </text>
                        }
	    			
	    			break;
	    		}    	
    		
    			
        	 			}
        	 			}
        	 			</div>
        	 		}
        	 		</div>
        	 	}
        	 
			 </mat-tab>
			 }
        	 
        	 
        	
        	 
        	 }
        	 
        	 @foreach (var att in Model.Classifier.GetSourceAssociation()) { 
        	 IClass associatedClass=(IClass)att.GetTargetMemberEnd().Type;
    	<text>	
    	<mat-tab label="@(att.GetTargetMemberEnd().Type.Name)"> </text>
    				var count=0;
    				<text> <ngx-datatable
            class='material'
            [rows]='@(associatedClass.Name.LowerFirst())rows'
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="40"
            [scrollbarV]="true"
            (page)="onPage($event)"></text>
    				foreach (var att2 in ((IClassifier)att.GetTargetMemberEnd().Type).Attributes()){
   						<text><ngx-datatable-column name="@att2.Name" width="300"></ngx-datatable-column></text> 
   					}
   					
   			<ngx-datatable-column name="Edit" width="300" prop="@(GetPrimaryKey(associatedClass).LowerFirst())">
      <ng-template let-value="value" ngx-datatable-cell-template>
      <button mat-icon-button	routerLink="/admin/@(associatedClass.Name.LowerFirst())/edit/{{value}}" color="primary"><mat-icon>edit</mat-icon></button>

    </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Delete" width="300" prop="@(GetPrimaryKey(associatedClass).LowerFirst())">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <button mat-icon-button	(click)="delete@(associatedClass.Name)(value)" color="warn"><mat-icon>delete</mat-icon></button>

      </ng-template>
    </ngx-datatable-column>			
   			@:</ngx-datatable>
    				 <a mat-raised-button color="primary" href="/admin/@(att.GetTargetMemberEnd().Type.Name.LowerFirst())/add?@(Model.Classifier.Name.LowerFirst())@(GetPrimaryKey(Model.Classifier))={{@(Model.Classifier.Name.LowerFirst())View.@(GetPrimaryKey(Model.Classifier).LowerFirst())}}">Add</a>
    		@:</mat-tab>	
    	}
    	
        	 
        	 
        	 </mat-tab-group>
   <div style="padding-top: 10px;">
	    <button mat-raised-button color="primary" ng-click="save()">Save</button>
   </div>
        	 
   </form>
@functions{

string GetPrimaryKey(IClassifier iClass)
{
	foreach (var att2 in iClass.Attributes())
   	{
		if (att2["Database General Metadata","Primary Key"]=="True")
		 return att2.Name;
	}
	
	return "";
}

string GetDescriptor(IClassifier iClass)
{
	foreach (var att2 in iClass.Attributes())
   	{
		if (att2["Database General Metadata","Default Descriptor"]=="True")
		 return att2.Name;
	}
	
	return "";
}

int GetTabCount(IClassifier iClass)
{
var tabs=iClass["Form Design Metadata","Tab Order"].Split(',');
return tabs.Length;
}

 public int SafeParse(string number)
        {
            int result=0;

            int.TryParse(number, out result);

            return result;
        }

}