@using SilverDawn.SilverModel.UML.Extensions;
@using SilverDawn.SilverModel.UML.Interfaces.Classes;
@using SilverDawn.SilverModel.UML.Classes;
<!-- ALLOWOVERWRITE -->



        <md-tab-group >
        <md-tab label="Main">
        	 <form [formGroup]="@(Model.Classifier.Name.LowerFirst())Form" class="form-horizontal css-form" role="form" (ngSubmit)="update()">
        	  @foreach (var att in Model.Classifier.AllAttributes())  	{		
			  switch (att.Type.GetUMLType())
				{
				case UmlTypeEnum.Class:				
	    		
					var refclass=(IClass)att.Type;	

					var pKey=GetPrimaryKey(refclass);
					var descriptor=GetDescriptor(refclass);
					
					if (!string.IsNullOrEmpty(pKey) && !string.IsNullOrEmpty(descriptor))
					{
					<text>
					 <div class="form-group">
					 		
                            <label for="@Model.Classifier.Name.LowerFirst()@att.Name" class="col-sm-2 control-label">@(att.Name)</label>
                            <div class="col-sm-10">

                                <select id="@Model.Classifier.Name.LowerFirst()@att.Name" class="form-control" ng-model="@(Model.Classifier.Name.LowerFirst())View.@(att.Name.LowerFirst())@pKey" ng-options="@(refclass.Name.LowerFirst()).@(pKey.LowerFirst()) as @(refclass.Name.LowerFirst()).@(descriptor.LowerFirst()) for @refclass.Name.LowerFirst() in @(refclass.Name.LowerFirst())s" required>
                                    <option value="">-- Choose @refclass.Name --</option>
                                </select>
                            </div>
                       	</div>
                        </text>
					}
					break;
				   default:
				  	if (@att.Name!=GetPrimaryKey(Model.Classifier))
	    				{
	    	            <text>
	    				<md-input-container style="width: 100%">
                            <label for="@Model.Classifier.Name.LowerFirst()@att.Name" class="col-sm-2 control-label">@att.Name</label>
                            
                                <input mdInput formControlName="@att.Name.LowerFirst()" id="@Model.Classifier.Name.LowerFirst()@att.Name" type="@(att.Type.TypeName("HtmlInput"))" class="form-control" required/>
                            
                        </md-input-container>
                        </text>
                        }
	    			
	    			break;
	    		}    	
    		
    			}
        	 	 	 	<div class="form-group">
	              	 		<div class="col-sm-2"></div>
                  	  		<div class="col-sm-10">
                        		<button md-raised-button color="primary" ng-click="save()">Save</button>
                   	 		</div>
	            	 	</div>
        	 </form>
        	 </md-tab>
        	 @foreach (var att in Model.Classifier.GetSourceAssociation()) { 
        	 IClass associatedClass=(IClass)att.GetTargetMemberEnd().Type;
    	<text>	
    	
    	
    	
    	<md-tab label="@(att.GetTargetMemberEnd().Type.Name)"> </text>
    				var count=0;
    				<text> <ngx-datatable
            class='material'
            [rows]='@(associatedClass.Name.LowerFirst())rows'
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="40"
            [scrollbarV]="true"
            (page)="onPage($event)"></text>
    				foreach (var att2 in ((IClassifier)att.GetTargetMemberEnd().Type).Attributes()){
   						<text><ngx-datatable-column name="@att2.Name" width="300"></ngx-datatable-column></text> 
   					}
   					
   			<ngx-datatable-column name="Edit" width="300" prop="@(GetPrimaryKey(associatedClass).LowerFirst())">
      <ng-template let-value="value" ngx-datatable-cell-template>
      <button md-icon-button	routerLink="/admin/@(associatedClass.Name.LowerFirst())/edit/{{value}}" color="primary"><md-icon>edit</md-icon></button>

    </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Delete" width="300" prop="@(GetPrimaryKey(associatedClass).LowerFirst())">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <button md-icon-button	(click)="delete@(associatedClass.Name)(value)" color="warn"><md-icon>delete</md-icon></button>

      </ng-template>
    </ngx-datatable-column>			
   			@:</ngx-datatable>
    				 <a md-raised-button color="primary" href="/admin/@(att.GetTargetMemberEnd().Type.Name.LowerFirst())/add?@(Model.Classifier.Name.LowerFirst())@(GetPrimaryKey(Model.Classifier))={{@(Model.Classifier.Name.LowerFirst())View.@(GetPrimaryKey(Model.Classifier).LowerFirst())}}">Add</a>
    		@:</md-tab>	
    	}
    	
        	 
        	 
        	 </md-tab-group>
  
@functions{

string GetPrimaryKey(IClassifier iClass)
{
	foreach (var att2 in iClass.Attributes())
   	{
		if (att2["Database General Metadata","Primary Key"]=="True")
		 return att2.Name;
	}
	
	return "";
}

string GetDescriptor(IClassifier iClass)
{
	foreach (var att2 in iClass.Attributes())
   	{
		if (att2["Database General Metadata","Default Descriptor"]=="True")
		 return att2.Name;
	}
	
	return "";
}

}