@using SilvaDawn.SilvaModel.UML.Extensions;
@using SilvaDawn.SilvaModel.UML.Interfaces.Classes;
@using SilvaDawn.SilvaModel.UML.Classes;
<!-- ALLOWOVERWRITE -->


<div class="box">
    <div class="box-header">
        <h2><i class="fa fa-edit"></i>@Model.Classifier.Name Edit</h2>
        <div class="box-icon">

            <a href="/" class="btn-close"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="box-content">

        <div class="well" [hidden]="!loaded">

            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <h4>Loading</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <img src="/Images/loader.gif" />
                </div>
            </div>
        </div>

        <div ng-show="loaded">
        <md-tab-group >
        <md-tab label="Main">
        	 <form [formGroup]="@(Model.Classifier.Name.LowerFirst())Form" class="form-horizontal css-form" role="form" (ngSubmit)="update()">
        	  @foreach (var att in Model.Classifier.AllProperties())  	{		
			  switch (att.Type.GetUMLType())
				{
				case UmlTypeEnum.Class:				
	    		
					var refclass=(IClass)att.Type;	

					var pKey=GetPrimaryKey(refclass);
					var descriptor=GetDescriptor(refclass);
					
					if (!string.IsNullOrEmpty(pKey) && !string.IsNullOrEmpty(descriptor))
					{
					<text>
					 <div class="form-group">
					 		
                            <label for="@Model.Classifier.Name.LowerFirst()@att.Name" class="col-sm-2 control-label">@(att.Name)</label>
                            <div class="col-sm-10">

                                <select id="@Model.Classifier.Name.LowerFirst()@att.Name" class="form-control" ng-model="@(Model.Classifier.Name.LowerFirst())View.@(att.Name.LowerFirst())@pKey" ng-options="@(refclass.Name.LowerFirst()).@(pKey.LowerFirst()) as @(refclass.Name.LowerFirst()).@(descriptor.LowerFirst()) for @refclass.Name.LowerFirst() in @(refclass.Name.LowerFirst())s" required>
                                    <option value="">-- Choose @refclass.Name --</option>
                                </select>
                            </div>
                       	</div>
                        </text>
					}
					break;
				   default:
				  	if (@att.Name!=GetPrimaryKey(Model.Classifier))
	    				{
	    	            <text>
	    				<md-input-container style="width: 100%">
                            <label for="@Model.Classifier.Name.LowerFirst()@att.Name" class="col-sm-2 control-label">@att.Name</label>
                            
                                <input mdInput formControlName="@att.Name.LowerFirst()" id="@Model.Classifier.Name.LowerFirst()@att.Name" type="@(att.Type.TypeName("HtmlInput"))" class="form-control" required/>
                            
                        </md-input-container>
                        </text>
                        }
	    			
	    			break;
	    		}    	
    		
    			}
        	 	 	 	<div class="form-group">
	              	 		<div class="col-sm-2"></div>
                  	  		<div class="col-sm-10">
                        		<button md-raised-button color="primary" ng-click="save()">Save</button>
                   	 		</div>
	            	 	</div>
        	 </form>
        	 </md-tab>
        	 @foreach (var att in Model.Classifier.GetSourceAssociation()) { 
    	<text>	<md-tab label="@(att.GetTargetMemberEnd().Type.Name)"> </text>
    				var count=0;
    				<text> <ngx-datatable
            class='material'
            [rows]='rows'
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="getRowHeight"
            [scrollbarV]="true"
            (page)="onPage($event)"></text>
    				foreach (var att2 in ((IClassifier)att.GetTargetMemberEnd().Type).Properties())
   					{
   						<text>
   						<ngx-datatable-column name="@(att2.Name)" width="300">
            	 		 	<ng-template let-column="row" ngx-datatable-cell-template>
                				{{row.@(att2.Name)}}
              				</ng-template>
           			 	</ngx-datatable-column>
   							</text>
   							
   					}
   			@:</ngx-datatable>
    				 <a md-raised-button color="primary" href="#/Admin/@(att.GetTargetMemberEnd().Type.Name)/Add?@(Model.Classifier.Name.LowerFirst())@(GetPrimaryKey(Model.Classifier))={{@(Model.Classifier.Name.LowerFirst())View.@(GetPrimaryKey(Model.Classifier).LowerFirst())}}">Add</a>
    		@:</md-tab>	
    	}
    	
        	 
        	 
        	 </md-tab-group>
        </div>
    </div>
</div>
@functions{

string GetPrimaryKey(IClassifier iClass)
{
	foreach (var att2 in iClass.Properties())
   	{
		if (att2["Entity Framework","EF Primary Key"]=="True")
		 return att2.Name;
	}
	
	return "";
}

string GetDescriptor(IClassifier iClass)
{
	foreach (var att2 in iClass.Properties())
   	{
		if (att2["Entity Framework","Default Descriptor"]=="True")
		 return att2.Name;
	}
	
	return "";
}

}